<div style="padding: 16px;">
  <h1>User Detail</h1>

  <div *ngIf="userDetails; else noDetails1">
      <p><strong>User ID:</strong> {{ userDetails.userId }}</p>
      <p><strong>Platform:</strong> {{ userDetails.platform }}</p>
      <p><strong>Name:</strong> {{ userDetails.name }}</p>
      <p><strong>Email:</strong> {{ userDetails.email }}</p>
      <p>
         
      </p>
  </div>

  <ng-template #noDetails>
      <p>Loading user details...</p>
  </ng-template>

  <a routerLink="/">
      <button mat-button color="accent">Back to Dashboard</button>
  </a>
</div>
