<div style="padding: 16px;">
  <h2>Account Predictor</h2>
  <table mat-table [dataSource]="predictions" class="mat-elevation-z8" style="width: 100%; margin-top: 16px;">

    <!-- User ID Column -->
    <ng-container matColumnDef="userId">
      <th mat-header-cell *matHeaderCellDef> User ID </th>
      <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
    </ng-container>

    <!-- Platform Column -->
    <ng-container matColumnDef="platform">
      <th mat-header-cell *matHeaderCellDef> Platform </th>
      <td mat-cell *matCellDef="let element"> {{element.platform}} </td>
    </ng-container>

    <!-- Prediction Column -->
    <ng-container matColumnDef="prediction">
      <th mat-header-cell *matHeaderCellDef> Prediction </th>
      <td mat-cell *matCellDef="let element">
        <span [class]="{'real': element.prediction === 'Real', 'fake': element.prediction === 'Fake'}">
          {{element.prediction}}
        </span>
      </td>
    </ng-container>

    <!-- Accuracy Column -->
    <ng-container matColumnDef="accuracy">
      <th mat-header-cell *matHeaderCellDef> Accuracy </th>
      <td mat-cell *matCellDef="let element">
        <span 
          [style.color]="getAccuracyColor(element.accuracy)" 
          [title]="getAccuracyTooltip(element.accuracy)">
          {{element.accuracy}}%
        </span>
      </td>
    </ng-container>



    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let element">
        <!-- Dynamic RouterLink -->
        <a [routerLink]="['/detail', element.userId]">
          <button mat-raised-button color="accent">Get Details</button>
        </a>
      </td>
    </ng-container>

    <!-- Table Rows -->
    <tr mat-header-row *matHeaderRowDef="['userId', 'platform', 'prediction','accuracy', 'actions']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['userId', 'platform', 'prediction', 'accuracy', 'actions'];"></tr>
  </table>
</div>
